.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Ensure 2 cards per row */
    gap: 10px;
    justify-content: center;
    padding: 20px;
    margin-top: 20px; /* Add margin to create gap from above container */
  }
  
  .card {
    overflow: hidden;
    transition: transform 0.2s;
    max-width: 20%;
    margin: 40px auto;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-image {
    width: 100%;
    height: auto;
    cursor: pointer;
  }
  
  .card-content {
    padding: 16px;
    text-align: center;
  }
  
  .product-title {
    font-size: 1.5em;
    margin: 0;
  }
  
  .product-price {
    color: #888;
    font-size: 1.2em;
    margin: 8px 0 0;
  }
  
  @media (max-width: 600px) {
    .card-container {
      grid-template-columns: 1fr; /* Stack cards on smaller screens */
    }
  
    .product-title {
      font-size: 1.2em;
    }
  
    .product-price {
      font-size: 1em;
    }
  }