/* Container Styles */
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--background);
}

/* Card Styles */
.login-card {
  background-color: var(--card);
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 50%;
  width: 100%;
  max-width: 30rem;
}

/* Title Styles */
.login-title {

  font-size: 1.5rem;
  font-weight: bold;
  color: var(--foreground);
  margin-bottom: 1rem;
  text-align: center;
}

.login-title span {
  cursor: pointer;
  /* Add pointer cursor */
  transition: font-size 0.3s ease;
  /* Smooth transition for font size */
}


/* Form Group Styles */
.form-group {
  margin-bottom: 1rem;
}

/* Label Styles */
.form-label {
  display: block;
  color: var(--muted-foreground);
  margin-bottom: 0.25rem;
}

/* Input Field Styles */
.form-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--border);

  border: 1px solid black;
}

/* Footer Styles */
.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

/* Checkbox Styles */
.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-input {
  margin-right: 0.5rem;
}

.checkbox-label {
  color: var(--muted-foreground);
}

/* Forgot Password Link */
.forgot-password {
  color: var(--accent);
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

/* Button Styles */
.form-button {
  font-family: sans-serif;
  font-weight: bold;
  width: 100%;
  background-color: black;
  color: white;
  padding: 0.5rem;

  cursor: pointer;
  transition: background-color 0.3s;
}

.form-button:hover {
  background-color: rgba(var(--primary-rgb), 0.8);
  color: black;
  border: 2px solid black;
}

.login-title span:hover {
  font-size: 2rem;
  /* Increase the size on hover */
}

.password-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-toggle-btn {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--muted-foreground);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.password-toggle-btn:hover {
  color: var(--foreground);
  background: none;
  border: none;
}