.Empty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height:70vh ;
   
}
.emptybutton{
    margin-top: 2rem;
    padding: 1rem 2rem;
    border: 1px solid #000;
    background: #000;
    color: #fff;
    font-size: 1rem;
    font-weight:bold;
   
}
.emptybutton:hover{
    background: #fff;
    color: #000;
}
.Empty h1{
    font-size: 3rem;
}